body{
    font-family: 'microsoft yahei',Helvetica,Arial,sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

#main{
    width: 100%;
    height: 100%;
    font-family: 'microsoft yahei';
    position: absolute;
    overflow-y: auto;
}

#head{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    border-bottom: 2px solid #999999;
    position: absolute;
}

#title{
    font-size: 2.21em;
    margin-left: 50px;
    width: 160px;
    top: 25%;
    position: absolute;
}

#reduction{
    right: 15%;
    top: 45%;
    position: absolute;
}
#reduction i{
    color: #0099FF;
}

#wrap_add_data{
    right: 5%;
    top: 45%;
    position: absolute;
}

#wrap_add_data i{
    color: #0099FF;
}


#dlshouwen_grid{
    margin-top: 110px;
    width: 96%;
    margin-left: 2%;

}

#dlshouwen_grid_es{
    width: 96%;
    margin-left: 2%;
    margin-top: 50px;
    margin-bottom: 80px;
}

#modal_div{
    height: 100px;
}

#modal_div>div{
    float: left;
    width: 150px;
    height: 100px;
    margin-left: 120px;
    font-family: 'microsoft yahei';
}

#modal_div .glyphicon{
    width: 150px;
    height: 80px;
    color: #0099FF;
    font-size: 4.5em;
}

#uploadModel .modal-body{
    padding-left: 5px;
    padding-right: 5px;
    padding-top:15px;
    padding-bottom: 15px;
}

#uploadModel .modal-body .file-preview-frame{
    margin: 5px;
}

.table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td, .dlshouwen-grid-extra-columns>td{
    border: 0;
    border-bottom: 1px solid #EEEEEE;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>tbody>tr>td.extra-column {
    border: 0;
}

.btn,.btn:focus{
    border: 0;
}

.pointer{
    cursor: pointer;
}

.upload_ing{
    width: 500px;
    height: 200px;
    border-radius: 5px;
    display: inline-flex;
    bottom: 5px;
    right: -468px;
    padding: 0;
    border: 0;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 10000;
}

.upload_ing .upload_ing_head{
    height: 100%;
    width: 30px;
    position: absolute;
    font-size: 18px ;
    color: rgba(0,0,0,0.5);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #00a2ca;
}
.upload_ing .upload_ing_head i{
    margin-left: 5px;
    margin-top: 80px;
    width: 30px;
    position: absolute;
}

.upload_ing_body{
    height: 100%;
    width: 470px;
    color: #333333;
    position: absolute;
    margin-left: 30px;
    padding: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

/*webkit 滚动条*/
::-webkit-scrollbar{
    width: 10px;
    background: rgba(0,0,0,0.3);;
}

::-webkit-scrollbar-track{
    border-radius: 3px;
    background-color: #888888;
}

::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #555;
}

.modal{
    overflow-y: auto;
}

#myAlert{
    position: absolute;
    width: 100%;
}

#uploadModel .modal-body{
    padding-right: 20px;
    padding-left: 20px;
    height: 60px;
    width: 100%;
}

#tooptip_div{
    position: absolute;
    right: 0;
    bottom:250px;
}

#tooptip_div .tooltip-inner{
    width: 150px;
    height: 50px;
    font-family: 'microsoft yahei';
    font-size: 16px;
    color: #ffffff;
    padding: 11px;
    background: #00a2ca;
}

.dlshouwen-grid-headers>.check-column{
    background: #00a2ca;
}

.dlshouwen-grid-row .column{
    color: #c9302c;
}
